.header h3 {
    text-align: center;
}

.menu {
    Display: flex;
    margin: 0;
    padding: 0; 
}

.scouting-apps {
    background-color: hsl(314, 69%, 91%);
}

.scouting-reports {
    background-color: hsl(199, 80%, 86%, 100%);
}

.outer-div-style {
    /* display: flex;  */
    background-color: white;
    border-bottom-width: 1px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 0.05);
    position: sticky;
    top:0px;
}

.header-style{
    background-color: white;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 0.05);
    position: sticky;
    text-align: center;
}

.menu-item {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    border: 1px solid;
    cursor: pointer;
    border-radius: 8px;
}

.current-page-app {
    background-color: rgb(97, 6, 79);
    color: white;
    font-weight: bold;
}

.current-page-report {
    background-color: rgb(31, 4, 105);
    color: white;
    font-weight: 700;
}

.menu-item > div {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex > * {
    flex-grow: 1;
}
